---
import Layout from '../../layouts/PageLayout.astro';

const metadata = {
  title: 'Codymaze',
};
---

<Layout metadata={metadata}>
  <div class="prose-page">
    <h2>CodyMaze è un labirinto virtuale nel mondo reale</h2>
    <p>
      Ci si muove su una scacchiera 5 x 5 le cui caselle contengono dei QRcode. Apparentemente la scacchiera è libera,
      ma grazie ai QRcode mostra labirinti sempre diversi che vengono proposti al giocatore da un bot Telegram chiamato
      @codymazebot. Il giocatore si muove fisicamente sulla scacchiera seguendo le istruzioni del bot e scansiona il QR
      Code su cui arriva ad ogni tappa per verificare di aver eseguito correttamente la sequenza di istruzioni.
    </p>
    <p>
      Durante le varie tappe del gioco vengono proposte sequenze di istruzioni di complessità crescente che introducono
      tutti i concetti base della programmazione, offrendo un’esperienza equivalente al labirinto classico dell’hour of
      code, ma diversa di volta in volta e giocata fisicamente. Al termine del gioco il bot Telegram rilascia un
      attestato nominale di completamento di un’ora di coding, che riporta l’elenco dei costrutti di programmazione
      sperimentati durante il gioco.
    </p>

    <h3>Terreno di gioco</h3>
    <p>
      CodyMaze si gioca su una griglia quadrata, 5×5, sulla quale sono disposti 25 QRcode. I QRcode sono disposti sul
      pavimento, ad almeno 50cm di distanza l’uno dall’altro. In tal modo il giocatore può muoversi con il proprio corpo
      all’interno della scacchiera, senza usare pedine. Se la scacchiera fosse effettivamente disegnata a terra ogni QR
      Code occuperebbe il centro di una casella, ma la presenza dei QRcode che identificano il centro delle caselle
      rende inessenziale tracciarne i bordi. Quindi la scacchiera può non essere disegnata.
    </p>
    <p>
      Le colonne e le righe della scacchiera sono identificate da lettere e numeri, partendo dall’angolo in alto a
      sinistra. Ad ogni QR Code è assegnata una posizione identificata da una lettera e da un numero. Inoltre la
      scacchiera è orientata convenzionalmente in modo che il lato superiore corrisponda al Nord e, di conseguenza,
      quello inferiore al Sud, quello sinistro all’Ovest e quello destro all’Est. Se il luogo lo consente si consiglia
      di orientare effettivamente la scacchiera in modo coerente con i punti cardinali.
    </p>

    <h3>Obiettivo del gioco</h3>
    <p>Uscire dal labirinto virtuale seguendo le istruzioni fornite dal bot Telegram @codymazebot.</p>

    <h3>Giocatori</h3>
    <p>
      Il gioco può essere giocato da uno o più giocatori. Il limite al numero di giocatori è dato solo dalle dimensioni
      della scacchiera sulla quale i giocatori devono potersi muovere indipendentemente, eseguendo ciascuno le proprie
      istruzioni fornite da @codymazebot.
    </p>

    <h3>Componenti del gioco</h3>
    <ul>
      <li>Smartphone o tablet dotato di:</li>
      <li>Connessione dati</li>
      <li>Fotocamera</li>
      <li>Lettore di QR Code</li>
      <li>Telegram messenger</li>
    </ul>
    <p>
      I dispositivi in uso devono essere pari al numero di giocatori che giocano contemporaneamente. Al termine del
      gioco lo stesso smartphone può essere usato da un altro giocatore, al quale il bot presenterà un percorso diverso.
    </p>

    <h3>Difficoltà</h3>
    <p>
      Il giocatore non conosce il percorso, ma riceve istruzioni dal bot Telegram e deve interpretarle ed eseguirle
      correttamente. Le sequenze di istruzioni fornite dal bot sono di difficoltà crescente, sia per i costrutti che
      introducono sia per la lunghezza.
    </p>

    <h3>Game Play</h3>
    <p>Il giocatore interagisce con il gioco compiendo le seguenti azioni:</p>
    <ul>
      <li>Scansione del QR Code associato alla casella su cui si trova il giocatore.</li>
      <li>Impostazione della direzione di marcia.</li>
      <li>Lettura e interpretazione delle istruzioni fornite dal bot.</li>
      <li>Esecuzione delle istruzioni fornite dal bot, spostandosi fisicamente sulla scacchiera a terra.</li>
    </ul>

    <h3>Game Design (regole)</h3>
    <h4>Inizio del gioco</h4>
    <p>
      È possibile iniziare una nuova partita solo dopo aver concluso le partite eventualmente in corso. Se @codymazebot
      non è pronto ad iniziare una nuova partita perché la precedente è stata interrotta, è possibile riportarlo allo
      stato iniziale con il comando /reset. Il gioco viene avviato quando viene scansionato uno qualsiasi dei QRcode
      della griglia.
    </p>
    <p>
      Per iniziare il gioco il giocatore deve scegliere una casella esterna (una delle 16 che compongono il bordo) e
      scansionare il corrispondente QRcode per notificare al bot la scelta. Il bot indica al giocatore la direzione di
      marcia e chiede conferma.
    </p>

    <h4>Mossa</h4>
    <p>
      Ad ogni passo il bot guida il giocatore con un codice preceduto da questa frase: “Segui queste indicazioni per
      risolvere il prossimo passo e scansiona il QR Code all’arrivo“. Il giocatore deve muoversi sulla scacchiera
      eseguendo il codice come se fosse un robot, facendo attenzione alla posizione e alla direzione di partenza.
    </p>
    <p>
      Se l’esecuzione è corretta il bot dice: “Benissimo! Hai trovato il punto giusto.” e propone il codice del passo
      successivo.
    </p>

    <h4>Mosse sbagliate</h4>
    <p>
      Una mossa è sbagliata se viene scansionato il QRCode sbagliato o impostata la direzione sbagliata rispetto a
      quelli previsti dal codice fornito dal Bot.
    </p>

    <h4>Completamento del labirinto</h4>
    <p>
      Al termine di tutte le mosse previste il bot manda il seguente messaggio: “Complimenti! Hai completato CodyMaze!”
      Il bot chiede quindi di digitare il nome che si vuole sul certificato di completamento.
    </p>

    <h4>Sintassi</h4>
    <p>
      Istruzioni elementari. Il bot usa le 3 istruzioni elementari di CodyRoby, rappresentate dalle rispettive iniziali
      in caratteri minuscoli: a = vai avanti, s = girati a sinistra, d = girati a destra.
    </p>

    <h3>Installazioni</h3>
    <p>
      CodyMaze è un gioco di coding da piazza, che è stato presentato per la prima volta durante l’edizione 2017 di
      Urbino Summer Code Fest.
    </p>

    <h3>Sviluppi futuri</h3>
    <p>CodyMaze verrà ulteriormente sviluppato per offrire esperienze di coding diversificate per fascia d’età.</p>

    <h3>Credits</h3>
    <p>
      CodyMaze è un progetto di Alessandro Bogliolo, sviluppato da Brendan Paolini, Lorenz Cuno Klopfenstein e Saverio
      Delpriori.
    </p>
  </div>
</Layout>
