---
import Layout from '~/layouts/PageLayout.astro';
import AnimateText from '~/components/ui/AnimateText.astro';
import RemoveCodyrobyGames from '~/components/widgets/RemoveCodyrobyGames.astro';
import Hero from '~/components/widgets/Hero.astro';

const metadata = {
  title: 'Il Duello',
  tagline: 'Metodi - CodyRoby',
  taglineLink: '/codyroby',
};
---

<Layout metadata={metadata}>
  <Hero {...metadata} />
  <AnimateText>
    <div class="prose-page">
      <h2>Descrizione</h2>
      <p>
        Il duello è un gioco da tavolo della serie CodyRoby per due giocatori o squadre. I due giocatori (o squadre)
        usano le carte Cody per muovere i propri robot su una scacchiera 5×5 nel tentativo di catturarsi l’un l’altro.
      </p>

      <h2>Materiale</h2>
      <ul>
        <li>24 cody-cards <strong>VAI AVANTI</strong></li>
        <li>8 cody-cards <strong>GIRA A SINISTRA</strong></li>
        <li>8 cody-cards <strong>GIRA A DESTRA</strong></li>
        <li>Scacchiera 5×5 (dimensioni da 10 cm per il gioco su tavolo, fino a 2.5 metri per il gioco a terra)</li>
        <li>
          2 blocchi (pezzetti di carta o oggetti, non più larghi di un riquadro della scacchiera, da usare come ostacoli
          per rendere inaccessibili le caselle)
        </li>
        <li>
          2 pedine (possono essere immagini di Roby, segnaposti, o giocatori che si muovono nel caso di gioco a terra)
        </li>
      </ul>

      <h2>Regole del gioco</h2>
      <p>
        Le due squadre piazzano le proprie pedine in due caselle agli angoli opposti della scacchiera. Inoltre, ogni
        squadra può collocare un blocco in una casella a scelta per renderla inaccessibile. Le 40 carte formano un mazzo
        che deve essere mescolato e posto sul tavolo tra i giocatori, con le carte rivolte verso il basso.
      </p>
      <p>Ora il duello può iniziare.</p>
      <p>
        Ad ogni turno, una squadra prende 5 carte dal mazzo senza mostrarle all’altra squadra. Se la squadra ha già
        carte in mano dall’inizio del turno (perché non utilizzate nel turno precedente), prende solo le carte
        necessarie per arrivare a 5. La squadra valuta le 5 carte e ne usa una o più per muovere il proprio robot sulla
        scacchiera. Le mosse si eseguono giocando una alla volta le carte che la squadra intende utilizzare in quel
        turno. La squadra decide quante carte usare, ma deve usarne almeno una.
      </p>
      <p>
        Vince il duello la squadra che riesce a portare il proprio robot su una casella occupata dal robot dell’altra
        squadra.
      </p>
      <p>Ci sono due eccezioni da gestire:</p>
      <ul>
        <li>
          Se il mazzo di carte finisce prima della fine del duello, tutte le carte sul tavolo vengono mescolate per
          formare un nuovo mazzo.
        </li>
        <li>
          Se una squadra fa una mossa sbagliata, portando il proprio robot fuori dalla scacchiera o in una casella
          bloccata, perde il duello.
        </li>
      </ul>
      <h3>Gli altri giochi</h3>
      <div class="flex flex-col gap-4">
        <RemoveCodyrobyGames name="la turista" link="/codyroby/giochi/la-turista" />
        <RemoveCodyrobyGames name="la corsa" link="/codyroby/giochi/la-corsa" />
        <RemoveCodyrobyGames name="seguimi" link="/codyroby/giochi/seguimi" />
      </div>
    </div>
  </AnimateText>
</Layout>
