---
import AnimateText from '~/components/ui/AnimateText.astro';
import Hero from '~/components/widgets/Hero.astro';
import Layout from '~/layouts/PageLayout.astro';

const metadata = {
  title: 'seguimi',
  tagline: 'Metodi',
};
---

<Layout metadata={metadata}>
  <Hero tagline={metadata.tagline} title="CodyRoby – Seguimi">
    <Fragment slot="subtitle"> </Fragment>
  </Hero>

  <AnimateText>
    <div class="prose-page">
      <h1>Descrizione del Gioco</h1>
      <p>
        Gioco a squadre con Cody&Roby. Ogni squadra è composta da un giocatore nel ruolo di Roby e da uno o più
        giocatori nel ruolo di Cody.
      </p>
      <p>
        La squadra A disegna un percorso articolato dando istruzioni al proprio Roby e sfida la squadra B a trovare
        l’algoritmo che consente al suo Roby di ripercorrere il tracciato. È utile che ci sia un arbitro.
      </p>

      <h2>Materiale</h2>
      <ul>
        <li>20 carte <strong>VAI AVANTI</strong></li>
        <li>10 carte <strong>GIRA A SINISTRA</strong></li>
        <li>10 carte <strong>GIRA A DESTRA</strong></li>
        <li>Un pavimento con piastrelle larghe quadrate o un pavimento con scacchiera</li>
        <li>40 foglietti colorati da lasciare lungo il cammino come tracce</li>
        <li>Un orologio o un cronometro con i secondi</li>
      </ul>

      <h2>Regole</h2>
      <p>
        Si stabilisce un punto di partenza sul pavimento. La squadra A ha tutte le carte in mano e decide in che ordine
        darle al proprio giocatore che svolge il ruolo di Roby per farlo muovere sulla scacchiera. Ogni volta che Roby
        lascia una casella del pavimento, ci si posa un foglietto colorato per indicare la traccia.
      </p>
      <p>
        Il numero di tessere da usare dipende dall’età e dall’esperienza dei giocatori. Al termine del percorso, la
        squadra A raccoglie tutte le carte utilizzate, le mescola e le passa alla squadra B.
      </p>
      <p>
        La squadra B deve rimettere le tessere in ordine per trovare l’algoritmo che guiderà il proprio Roby lungo il
        sentiero. Le carte vanno impilate in modo che la prima corrisponda alla prima mossa e l’ultima all’ultima.
        Quindi, la pila va consegnata al giocatore che impersona Roby perché provi ad eseguirla. Ad ogni mossa corretta
        la squadra B raccoglie un foglietto-traccia e guadagna un punto. La prova termina se Roby della squadra B esce
        di pista o completa il percorso.
      </p>
      <p>
        Al termine della prova si invertono i ruoli delle due squadre. Vince la squadra con il punteggio più alto o, a
        parità di punteggio, quella che ha impiegato meno tempo.
      </p>
    </div>
  </AnimateText>
</Layout>
