---
import Layout from '~/layouts/PageLayout.astro';

const metadata = {
  title: 'MOOC',
  tagline: 'Videolezioni',
};
---

<Layout metadata={metadata}>
  <div>
    <h1>Registrazioni summer school</h1>
  </div>
</Layout>
