---
import Features2 from '~/components/widgets/Features2.astro';
import Features3 from '~/components/widgets/Features3.astro';
import Hero from '~/components/widgets/Hero.astro';
import Stats from '~/components/widgets/Stats.astro';
import Steps2 from '~/components/widgets/Steps2.astro';
import Layout from '~/layouts/PageLayout.astro';

const metadata = {
  title: 'Chi siamo',
};
---

<Layout metadata={metadata}>
  <div class="prose-page">
    <h2>La storia di CodyRoby</h2>
    <p>
      CodyRoby è uno strumento di coding unplugged ideato per l’apprendimento del pensiero computazionale senza l'uso di
      dispositivi elettronici. Sviluppato dal professor Alessandro Bogliolo, è stato creato per promuovere le competenze
      di base del coding in modo accessibile e pratico. Il metodo è particolarmente popolare nelle scuole primarie e
      dell’infanzia grazie al suo formato semplice e versatile, che impiega carte colorate per rappresentare movimenti e
      direzioni su una scacchiera, stimolando il problem-solving e la logica tra i bambini.
    </p>

    <p>
      Originariamente lanciato per supportare eventi educativi come l'Europe Code Week e l'European Robotics Week,
      CodyRoby si è diffuso rapidamente in contesti didattici di vario livello e ha visto numerose estensioni. Tra
      queste, CodyFeet e CodyColor permettono di introdurre concetti avanzati come la ripetizione (loop) e la selezione
      (condizioni) tramite carte e tessere colorate. Inoltre, sono stati creati giochi e tutorial video per arricchire
      l’esperienza d’uso, offrendo anche opzioni competitive e collaborative per insegnare il coding in modo ludico.
    </p>
  </div>
</Layout>
