---
import Layout from "../layouts/PageLayout.astro";
const metadata = {
  title: 'Home',
};
---
<Layout metadata={metadata}>
    <div class="prose-page">
      <h1>Community</h1>
      <h2>Da chi è composta?</h2>
      <p>
        <strong> CodyRoby Certified Teacher Trainer</strong>, formatrici e formatori direttamente formati da Alessandro
        Bogliolo, affinché tengano i corsi dell'Academy per insegnanti
      </p>
      <p>
        <strong>CodyRoby Certified Teacher</strong>, insegnanti che hanno seguito i corsi dell'Academy e superato la
        verifica per il rilascio del certificato
      </p>
      <p><strong>CodyRoby School</strong>, scuole che hanno almeno 10 Cody Roby Certified Teacher nel corpo docente</p>
      <p>
        <strong>CodyRoby Trainee</strong>, chiunque segua o abbia seguito un corso dell'Academy conserva accesso alla
        piattaforma e resta membro della comunità
      </p>
      <p>
        <strong> CodyRoby Practitioner</strong>, chiunque utilizzi metodi della suite CodyRoby appartiene, di fatto, alla
        comunità di pratica!
      </p>
      
    </div>
  </Layout>