---
import Layout from '~/layouts/PageLayout.astro';

const metadata = {
  title: 'Community',
};
---

<Layout metadata={metadata}>
  <div class="prose-page">
    <h1>Community</h1>
    <h2>Da chi è composta?</h2>
    <h2>Informale</h2>
    <h2>Formazione</h2>
    <h2>Confronto</h2>
    <h2>Risorse online</h2>
    





  
    <h2>Community informale</h2>
  </div>
</Layout>
