---
import { SITE } from 'astrowind:config';
import Image from '~/components/common/Image.astro';

import logo from '~/assets/images/roby.webp';
---

<span
  class="flex items-center gap-4 self-center ml-2 rtl:ml-0 rtl:mr-2 text-2xl md:text-xl font-bold text-gray-900 whitespace-nowrap dark:text-white"
>
  <Image src={logo} alt="logo" width="80" height="80" />
  {SITE?.name}
</span>
