---
import Layout from '../../layouts/PageLayout.astro';
import Hero from '../../components/widgets/Hero.astro';
import { YouTube } from 'astro-embed';
import Button from '~/components/ui/Button.astro';
import { Image } from 'astro:assets';

const banner = '~/assets/images/codyroby/banner.jpg';
import duello from '~/assets/images/codyroby/giochi/duel-300x202.png';
import gara from '~/assets/images/codyroby/giochi/race1-1024x990.png';
const codyRobyCard = 'CodyRobyCards.pdf';

const metadata = {
  title: 'CodyRoby',
  tagline: 'Metodi',
};
---

<Layout metadata={metadata}>
  <Hero
    tagline={metadata.tagline}
    title="CodyRoby"
    image={{
      src: banner,
      alt: 'banner CodyRoby',
    }}
  >
    <Fragment slot="subtitle"> </Fragment>
  </Hero>
  <div class="prose-page">
    <p>
      <strong>Cody</strong> è un coder, <strong>Roby</strong> è un robot. Cody concatena istruzioni che Roby esegue.
    </p>

    <p>
      <strong>CodyRoby</strong> è un metodo fai-da-te di programmazione unplugged (senza computer). Le istruzioni sono carte
      da gioco che contengono semplici simboli associati a tre azioni elementari: vai avanti, girati a sinistra, girati a
      destra. Ogni giocatore veste i panni di Cody e usa le carte per dare istruzioni a Roby, rappresentato da una pedina
      da muovere sulla scacchiera.
    </p>

    <p>
      CodyRoby è stato ideato nel <a href="https://www.codeweek.it/il-compleanno-di-codyroby/" target="_blank"
        >novembre del 2014</a
      >, per offrire a tutti la possibilità di partecipare alla European Robotics Week anche all’ultimo momento e senza
      alcun costo. Lo <strong>starter kit</strong> di CodyRoby può essere scaricato, stampato e ritagliato per comporre il
      mazzo di carte, la scacchiera, le pedine e la scatola in cui tutto può essere riposto.
    </p>

    <p>
      Dal 2014 ad oggi lo starter kit è stato distribuito in molte versioni, dedicate, tra l’altro, a <a
        href="https://www.codeweek.it/cody-roby-en/ECW-edition/">Europe Code Week</a
      >, a <a href="https://www.codeweek.it/cody-roby-en/ACW-edition/">Africa Code Week</a> e alla <a
        href="https://www.codeweek.it/cody-roby-en/ERW-edition/">European Robotics Week</a
      >. Lo starter kit permette di giocare con il coding in tanti modi diversi. Alcuni sono documentati da semplici
      video-tutorial autoesplicativi, ma dopo aver giocato ai giochi base proposti vi suggerisco di inventarne di nuovi.
    </p>

    <p>
      In Agosto 2016 lo Starter Kit si è arricchito delle carte speciali che alle istruzioni elementari aggiungono le
      ripetizioni e le condizioni. Il <strong>nuovo starter kit</strong> è stato creato per CodeMOOC ed è distribuito ufficialmente
      e gratuitamente in questa pagina. Il kit è anche allegato al libro di CodeMOOC, con diversa impaginazione. Il nuovo
      kit permette di svolgere in modalità unplugged tutte le attività tipiche dell’ora del codice, come spiegato in <a
        href="https://www.youtube.com/watch?v=4GKX65_T34o"
        target="_blank">questo video</a
      > e <a href="https://www.slideshare.net/alessandrobogliolo/codyrobyhoc" target="_blank">in queste slide</a>.
    </p>

    <p>
      Accanto al link che permette di scaricare il file pdf di ogni pagina del kit sono riportate le opzioni di stampa
      consigliate. La stampa del retro delle carte da gioco è opzionale e richiede il controllo dell’allineamento per
      una resa ottimale.
    </p>
    <Hero
      actions={[
        {
          variant: 'primary',
          text: 'Scarica ora',
          href: codyRobyCard,
          target: '_blank',
          icon: 'tabler:download',
        },
      ]}
    />
    <div class="flex flex-col gap-4 justify-center">
      <h2>Video Tutorial</h2>
      <h3>Preparazione del kit</h3>
      <div class="video-container">
        <iframe
          width="300"
          height="200"
          src="https://www.youtube.com/embed/k-tzLwbTOFg"
          title="CodyRoby tutorial: Building the Kit"
          frameborder="0"
          allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
          referrerpolicy="strict-origin-when-cross-origin"
          allowfullscreen></iframe>
      </div>
      <h2>I giochi</h2>
      <div class="flex flex-col md:flex-row gap-4 justify-between">
        <Button text="Seguimi" href={'codyroby/giochi/seguimi'} target="_blank" class="self-center" />
        <a
          href={'codyroby/giochi/il-duello'}
          target="_blank"
          class="flex flex-col justify-center items-center border border-black rounded-lg px-4"
        >
          <Image src={duello} alt="duello" class="max-w-[300px] max-h-[300px]" />
          <p>Il Duello</p>
        </a>
      </div>
      <div class="flex flex-col md:flex-row gap-4 justify-between">
        <a
          href={'codyroby/giochi/la-corsa'}
          target="_blank"
          class="flex flex-col justify-center items-center border border-black rounded-lg px-4"
        >
          <Image src={gara} alt="corsa" class="max-w-[300px] max-h-[300px]" />
          <p>La Corsa</p>
        </a>
        <Button text="La Turista" href={'codyroby/giochi/la-turista'} target="_blank" class="self-center" />
      </div>
      <!-- <h2>I video tutorial</h2>

      <div class="flex flex-col gap-4">
        <div>
          <h3>Preparazione del kit base</h3>
          <YouTube id="https://www.youtube.com/embed/izpB0Cvl0tk?start=19" />
        </div>
        <div>
          <YouTube id="https://www.youtube.com/embed/JiGjrOwOz6Y" />
        </div>
        <div>
          <YouTube id="https://www.youtube.com/embed/th0nbgo0PBs" />
        </div>
        <div>
          <YouTube id="https://www.youtube.com/embed/XqWRDab5GDw" />
        </div>
      </div> -->
    </div>
  </div>
</Layout>
