---
import Button from '~/components/ui/Button.astro';
import Layout from '../../layouts/PageLayout.astro';
import AnimateText from '~/components/ui/AnimateText.astro';

import Hero from '~/components/widgets/Hero.astro';
import ExternalLink from '~/components/common/ExternalLink.astro';

const metadata = {
  title: 'CodyColor Game',
  tagline: 'Risorse',
  subtitle: '',
};
---

<Layout metadata={metadata}>
  <Hero tagline={metadata.tagline}>
    <Fragment slot="title"> {metadata.title} </Fragment>
    <Fragment slot="subtitle">{metadata.subtitle}</Fragment>
  </Hero>
  <AnimateText>
    <div class="prose-page">
      <p>
        <ExternalLink href="https://codycolor.codemooc.net/#!/" text="CodyColor MultiPlayer" /> è l'implementazione online
        del metodo di coding unplugged CodyColor. Esso permette agli utenti collegati di sfidarsi a coppie, lasciando che
        il gioco stesso selezioni in maniera casuale il proprio avversario, o creando delle partite custom alle quali è possibile
        invitare i propri amici.
      </p>
    </div>
    <div class="flex justify-center">
      <Button target="_blank" href={'https://codycolor.codemooc.net/#!/'}>
        <p class="mt-0 mb-0">Gioca ora!</p>
      </Button>
    </div>
    <div class="prose-page">
      <h2>Come si gioca</h2>
      <p>
        Una volta effettuato l'accesso alla partita, l'utente si trova di fronte una scacchiera colorata e un robottino
        (Roby). Ogni giocatore dovrà posizionare il proprio robottino, trascinandolo, in una delle posizioni di partenza
        (indicate dalle frecce ai bordi della scacchiera) entro il tempo limite. Una volta che entrambi i giocatori
        hanno posizionato il proprio robottino, questo inizierà a muoversi all'interno della scacchiera, prendendo una
        direzione differente a seconda del colore delle tessere:
      </p>

      <ul>
        <li>In corrispondenza delle <strong>tessere gialle</strong>, Roby si girerà di 90 gradi verso sinistra.</li>
        <li>In corrispondenza delle <strong>tessere rosse</strong>, di 90 gradi verso destra.</li>
        <li>In corrispondenza delle <strong>tessere grigie</strong>, proseguirà diritto.</li>
      </ul>

      <h2>Scopo del gioco</h2>
      <p>
        Scopo del gioco è scegliere una posizione di partenza tale da far rimanere il proprio robottino all'interno
        della scacchiera il più a lungo possibile. Vince il giocatore che totalizza più punti fra i due a fine partita;
        punti che possono essere guadagnati effettuando un percorso più lungo possibile, o posizionando più velocemente
        dell'avversario il proprio robottino. In caso di pareggio assoluto, vince chi ha posizionato per primo il
        proprio Roby.
      </p>

      <h2>Dopo la partita</h2>
      <p>Una volta terminata la partita, i giocatori possono decidere di effettuarne altre in sequenza.</p>
    </div>
  </AnimateText>
</Layout>
