---
import Hero from '~/components/widgets/Hero.astro';
import Layout from '../../layouts/PageLayout.astro';
import { parse } from 'csv-parse/browser/esm';

import DynamicSpreadsheet from '~/components/DynamicSpreadsheet.tsx';

const metadata = {
  title: 'Post e Webinar',
  tagline: 'Risorse',
};
---

<Layout metadata={metadata}>
  <Hero tagline={metadata.tagline} title={metadata.title}>
    <Fragment slot="subtitle"> </Fragment>
  </Hero>

  <section>
    <DynamicSpreadsheet client:load />
  </section>
</Layout>
