---
import Hero from '~/components/widgets/Hero.astro';
import Layout from '../../layouts/PageLayout.astro';

const metadata = {
  title: 'Progetti Scratch',
  tagline: 'Risorse',
};
---

<Layout metadata={metadata}>
  <Hero tagline={metadata.tagline} title={metadata.title}>
    <Fragment slot="subtitle"> </Fragment>
  </Hero>
  <div class="prose-page">
    <p>
      Attraverso l'ambiente di programmazione visuale che consente a chiunque di creare e condividere giochi, storie,
      animazioni, progetti, idee si sono creati dei progetti.
    </p>
  </div>
</Layout>
